:root {
  --clr-primary--100: #9adea2;
  --clr-primary--300: #c2f69b;
  --clr-primary--500: #80db8b;
  --clr-primary--900: #4db158;
  --clr-neutral--100: #fafafa;
  --clr-neutral--200: #d9fbdd;
  --clr-neutral--300: #696969;
  --clr-neutral--900: #333;
  --clr-accent--100: #b3ebf7b6;
  --clr-accent--300: #80c0ce;
  --clr-accent--500: #467292;
  --clr-accent--900: #26465e;
  --ff-primary: sans-serif;
  --ff-accent: cursive;
  --br: 0.4em;
  --br-elements: 0.8em;
}


/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

/* ----- Body ----- */
body {
  font-family: var(--ff-primary);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--clr-neutral--100);
  color: var(--clr-neutral--900);
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  width: 100%;
  background-color: var(--clr-primary--100);
}

/* --- Navbar --- */
.navbar {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
  position: relative;
}

.navbar__components {
  display: flex;
  flex-direction: row;
  color: var(--clr-neutral--900);
  align-items: center;
  font-weight: 700;
}

.navbar__item:not(:last-child) {
  margin-right: 4em;
}

.btn__login {
  margin-right: 1em;
}

.navbar__item a {
  text-transform: uppercase;
  color: var(--clr-neutral--300);
}

.navbar__item a:hover {
  color: var(--clr-neutral--900);
}

/* Dropdown */
.dropdown {
  border-radius: var(--br);
  background-color: var(--clr-primary--300);
  cursor: pointer;
  padding: 1em 2.3em 0.9em 2.3em;
  position: relative;
  text-transform: uppercase;
  color: var(--clr-neutral--300);
  font-weight: 700;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
}

.dropdown:hover {
  background-color: var(--clr-primary--100);
}

.nav__options {
  padding: 1em;
  position: absolute;
  top: 107%;
  left: 0;
  width: 100%;
  z-index: 99;
  border-radius: var(--br);
  background-color: var(--clr-primary--300);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  display: none;
}

.nav__options>*:hover {
  color: var(--clr-neutral-900)
}

.nav__options .btn__login {
  margin-bottom: 1em;
}

body.light .dropdown ul {
  background: var(--clr-neutral--300);
}

.dropdown.open ul {
  display: block;
}

.dropdown ul li {
  margin: 0.6em 1em;
}

.hamburger__container {
  display: none;
}

.navbar__components--mobile {
  display: none;
  padding: 2em 1.3em;
  position: absolute;
  top: 115%;
  right: 2em;
  z-index: 99;
  border-radius: var(--br);
  background-color: var(--clr-primary--100);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
}

.navbar__components--mobile li a {
  color: var(--clr-neutral--300);
  font-weight: 700;
}

.navbar__components--mobile li:not(:last-child) {
  margin-bottom: 2em;
}

.open-menu {
  display: block;
}

/* ----- Logo ----- */

.logo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}


/* ----- Main ----- */

.main {
  width: 100%;
  flex: 1 0 auto;
}

.content__container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Flash messages */
.flash__messages--container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
  flex-direction: column;
}

.flash__messages {
  width: 100%;
  margin: 1em auto;
  display: flex;
  background-color: var(--clr-accent--100);
  padding: 2em;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flash__message--content {
  font-weight: 900;
  font-size: 1.5rem;
  font-style: italic;
}

/* ----- Blog ----- */
.blog {
  padding: 2.5em 0;
  text-align: center;
}

.blog__heading {
  width: 100%;
  display: flex;
  flex-direction: column;

  color: var(--clr-neutral--900);
  padding: 2em 2em 0 2em;
  border-radius: var(--br);
}

.blog__heading--day {
  font-size: 1.8rem;
  text-align: left;
  padding-bottom: 1.2em;
  margin-left: 2em;
}

.blog__heading--incentive {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.blog__heading--day span {
  font-weight: 900;
}

.scale {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em 0.5em;
  margin-bottom: 3em;
}

.scale__text,
.blog__container--title,
.data__link--title {
  padding-bottom: 2em;
  font-size: 1.8rem;
  color: var(--clr-accent--900);
  font-weight: 900;
}

.profile__form {
  margin: 3em 0 2em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0.5em;
}

.scale__emojis {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.424);
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.424);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.424);
  margin: 0 2em;
}

.scale__emoji:not(:last-child) {
  margin-bottom: 1em;
}

.scale__emoji img {
  display: flex;
  align-items: center;
  padding: 0.2em 2em 0.2em 1.5em;
  width: 22rem;
}

.emoji__image--holder {
  width: 4rem;
  height: 4rem;
  margin-right: 3.5em;
}

.scale__emoji--text {
  font-size: 1.5rem;
  font-weight: 600;
}

select {
  font-size: 1.5rem;
  padding: 1em;
  background-color: var(--clr-accent--100);
}

/* Profile Blog Styling */
.blog__container {
  margin: 3em 0 2em 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 2em 0.5em;
}

.blog__container--title {
  padding-bottom: 1em;
}

.calendar__btns--container {
  margin: 2em 0;
}

.blog__form {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.blog__input {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  width: inherit;
}

.blog__label {
  padding-bottom: 1em;
  color: var(--clr-accent--900);
  font-weight: 700;
}

.blog__textarea {
  resize: none;
  outline: none;
  width: inherit;
  min-height: 15rem;
  border: 1px solid var(--clr-accent--900);
  border-radius: var(--br);
  padding: 1em;
  font-size: 1.3rem;
}

.btn {
  border-radius: var(--br);
  padding: 1.2em 3.5em;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  border: none;
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.424);
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.424);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.424);
  cursor: pointer;
}

.blog__btn--submit {
  background-color: var(--clr-accent--300);
  color: var(--clr-neutral--900);
}

.blog__btn--submit:hover {
  background-color: var(--clr-accent--500);
  color: var(--clr-neutral--100);
}

/* Suggestions */

.suggestions {
  background-color: var(--clr-accent--100);
  padding: 2em 0 1em 0;
}


/* Profile link to Calendar Styling */
.data__link {
  margin: 8em 0;
}

.suggestion a {
  color: var(--clr-neutral--300);
  text-decoration: underline;
}

.suggestion a:hover {
  color: black;
}

/* Link to calendar */
.btn__calendar--link {
  background-color: var(--clr-primary--100);
  color: var(--clr-neutral--900);
}

.btn__calendar--link:hover {
  background-color: var(--clr-primary--900);
  color: var(--clr-neutral--900);
}


/* ----- Calendar Page ----- */
.calendar {
  padding: 2em;
  text-align: center;
}

.calendar__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--clr-accent--900);
  padding: 2em 0;
  border-radius: var(--br);
  font-size: 2em;
}

.calendar__scale {
  margin-left: 130px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.calendar__scale--emoji {
  width: 35px;
  margin-right: 1px;
  margin-right: 1px;
}

.calendar__title--click {
  padding-bottom: 1em;
  font-size: 1.6rem;
  font-weight: 500;
}

.calendar__title--click span {
  color: var(--clr-accent--900);
  font-weight: 900;
}

.calendar__emoji--click {
  max-width: 3rem;
  padding-bottom: 1.2em;
  width: 100%;
  margin: 0 auto;
}

.calendar__text--click {
  font-size: 1.2rem;
  padding-bottom: 1.2em;
  color: var(--clr-accent--900);
}

.calendar__title--click {
  padding-bottom: 1em;
  font-size: 1.6rem;
  font-weight: 500;
}

.calendar__note--click {
  font-style: italic;
}

.btn__calendar {
  padding: 0.5em;
  background-color: var(--clr-primary--100);
  font-size: 1.2rem;
  width: 5rem;
  color: var(--clr-neutral--300);
  box-shadow: none;
  cursor: pointer;
}

.btn__calendar:hover {
  background-color: var(--clr-primary--300);
  color: var(--clr-neutral--900);
}

.calendar__note--click {
  font-style: italic;
}

.btn__calendar {
  padding: 0.5em;
  background-color: var(--clr-primary--100);
  font-size: 1.2rem;
  width: 5rem;
  color: var(--clr-neutral--300);
  box-shadow: none;
  cursor: pointer;
}

.btn__calendar:hover {
  background-color: var(--clr-primary--300);
  color: var(--clr-neutral--900);
}


/* ----- Home Page ----- */


.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 2em;
  margin: 3em 0 2em 0;
}

.home__title {
  font-size: 6rem;
  padding-bottom: 3rem;
  text-align: center;
}

.about__title {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.about__section--title {
  padding-bottom: 1rem;
  text-align: center;
}

.about__section--paragraph {
  text-align: center;
  line-height: 1.75rem;
  padding-bottom: 5rem;
  max-width: 70rem;
}


/* ----- Register/Login Page ----- */


.register__container,
.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.register__title,
.login__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 900;
  color: var(--clr-accent--900);
  padding: 0 2em;
}

.register__paragraph,
.login__paragraph {
  text-align: center;
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 0.5rem;
  max-width: 70rem;
  padding: 0 2em;
}

.register__paragraph a,
.login__paragraph a {
  color: var(--clr-accent--900);
}

/* ----- Form container ----- */

.form__container {
  display: flex;
  width: 40vw;
  min-width: 23rem;
  flex-direction: column;
  align-items: center;
  padding: 3em 2em;
  margin: 3em 0 2em 0;
  background-color: var(--clr-neutral--200);
  border-radius: var(--br);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
}

.form__input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-bottom: 1em;
}

.form__input--label {
  padding-bottom: 1em;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.form__input--textarea {
  padding: 1em 1.5em;
  border-radius: var(--br);
  color: var(--clr-primary--100);
  border: 1px solid var(--clr-primary--100);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--clr-neutral--300);
  font-weight: 300;
}

input:placeholder-shown {
  color: var(--clr-neutral--300);
  font-weight: 300;
}

input:not(:placeholder-shown) {
  color: var(--clr-neutral--900);
  font-weight: 600;
}

.form__button {
  background-color: var(--clr-primary--300);
  border-radius: var(--br);
  text-transform: uppercase;
  color: var(--clr-neutral--900);
}

.form__button:hover {
  background-color: var(--clr-primary--500);
  color: black;
}

/* Error */
.invalid__username,
.invalid__password {
  color: rgb(233, 118, 24);
  font-weight: 700;
  font-style: italic;
  position: absolute;
  top: 5.5rem;
  left: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}

.username__hidden,
.password__hidden {
  display: none;
}

/* ----- Footer ----- */

footer {
  width: 100%;
  background-color: var(--clr-primary--500);
}

.footer__team {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 3em 0;
}

/* Team Name */
.team__name {
  padding: 1em;
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.team__name--header {
  font-weight: 900;
}

.team__name--title {
  font-size: 1.8rem;
  margin-left: 0.5rem;
  color: var(--clr-neutral--900);
  font-weight: 900;
  padding-bottom: 0.2em;
}

/* Team Members */
.team__collaborators {
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5em 4em;
}

.contact__github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;
}

.image__holder {
  width: 4rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid var(--clr-neutral--300);
}

.image__holder img {
  border-radius: 50%;
  object-fit: cover;
}

.coder__name {
  text-align: center;
  font-size: 1.2rem;
  color: var(--clr-neutral--900);
  font-weight: 700;
  margin-top: 1em;
}

/* ----- Media ----- */

@media all and (max-width: 62.5em) {

  .navbar__components {
    display: none;
  }

  .hamburger__container {
    display: block;
  }

  .team__collaborators {
    flex-direction: column;
  }

  .contact__github {
    margin-bottom: 3em;
  }

  .team__name {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}

@media all and (max-width: 550px) {

  .register__title,
  .login__title {
    font-size: 1.9rem;
  }

  .register__paragraph,
  .login__paragraph {
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    padding-bottom: 0.5rem;
    max-width: 70rem;
    padding: 0 2em;
  }

  .form__container {
    min-width: 15rem;
    padding: 2em 1.2em;
    margin: 2em 0 1em 0;
  }

  .form__button {
    padding: 1em 1.5em;
  }

}