<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Empower is a site that allows you to log your emotional state every day. Empower allows you to take a moment out of each day to check in and log your emotions. You are then able to track your emotional health over a period of time." />
  <meta name="keywords"
    content="hackathon, workforce well-being, soda social, emotional health, well-being, mental health, emotions, emotional tracker" />
  <meta name="author" content="Theo Wright, Anna, Aws Sabah Gheni, Kera Cudmore, Iuliia Konovalova" />

  <!-- Facebook, LinkedIn, Google Social Sharing -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content="EMPOWER" />
  <meta property="og:description"
    content="Empower is a site that allows you to log your emotional state every day. Empower allows you to take a moment out of each day to check in and log your emotions. You are then able to track your emotional health over a period of time." />
  <meta name="image" property="og:image" content="{{ url_for('static', filename='images/empowerwebsite.png') }}" />

  <!-- URL of image to be displayed when your site is linked to -->
  <!-- Be careful when building non-static sites like your MS3 and MS4, this can be a little tricky -->
  <meta property="og:image:alt" content="Empower website shown on a variety of devices" />
  <meta property="og:url" content="http://empowere.herokuapp.com/home" />
  <meta property="og:site_name" content="EMPOWER" />
  <meta name="author" content="Theo Wright, Anna, Aws Sabah Gheni, Kera Cudmore, Iuliia Konovalova">

  <!--favicon meta-->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">

  <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <title>EMPOWER</title>
  {% block extra_js %}
  {% endblock %}
</head>

<body>
  <!-- Header -->
  <header class="header">
    <nav class="navbar" id="navbar">
      <div class="logo__container--top">
        <h1 class="logo__title">Empower</h1>
      </div>
      <!-- Navbar items -->
      <ul class="navbar__components">
        <li class="navbar__item">
          <a href="{{ url_for('home') }}">Home</a>
        </li>
        {% if session.user %}
        <li class="navbar__item">
          <a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
        </li>
        <li class="navbar__item">
          <a href="{{ url_for('calendar') }}">Calendar</a>
        </li>
        <li class="navbar__item">
          <a href="{{ url_for('logout') }}">Log Out</a>
        </li>
        {% else %}
        <li class="navbar__item dropdown" id="dropdown">
          get started
          <ul class="nav__options">
            <li class="btn__login nav__option">
              <a href="{{ url_for('login') }}">Login</a>
            </li>
            <li class=" nav__option">
              <a href="{{ url_for('register') }}">Register</a>
            </li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <!-- Navbar hamburger for mobile screens -->
      <div class="hamburger__container" id="hamburger">
        <img src="{{ url_for('static', filename='images/icon-hamburger.svg') }}" alt="Hamburger Image">
      </div>
      <!-- Navbar for mobile screens -->
      <ul class="navbar__components--mobile" id="mobile-menu">
        <li class="mobile__item">
          <a href="{{ url_for('home') }}">Home</a>
        </li>
        {% if session.user %}
        <li class="mobile__item">
          <a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
        </li>
        <li class="mobile__item">
          <a href="{{ url_for('calendar') }}">Calendar</a>
        </li>
        <li class="mobile__item">
          <a href="{{ url_for('logout') }}">Log Out</a>
        </li>
        {% else %}
        <li class="mobile__item btn__login">
          <a href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="mobile__item ">
          <a href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <!-- Main section -->
  <main class="main">
    <div class="content__container">
      <!-- flash messages -->
      <aside class="flash__messages--container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash__messages">
          {% for message in messages %}
          <div class="flash__message">
            <div class="flash__message--content">{{ message }}</div>
          </div>
          {% endfor %}

          {% endif %}
        </div>
        {% endwith %}
      </aside>
      <!-- Content block -->
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <!--Footer-->
  <footer class="footer">
    <div class="footer__content">
      <div class="footer__logo">
        <div>Empower</div>
      </div>
      <!-- Collaborators -->
      <div class="footer__team">
        <div class="team__name--header">Created by:</div>
        <ul class="team__collaborators">
          <li class="contact__github">
            <a href="https://github.com/AwsSG" target="_blank" rel="noopener"
              aria-label="Visit Aws Sabah Gheni github page">
              <div class="coder__name">Aws Sabah Gheni</div>
            </a>
          </li>
          <li class="contact__github">
            <a href="https://github.com/IuliiaKonovalova" target="_blank" rel="noopener"
              aria-label="Visit Iuliia Konovalova github page">
              <div class="coder__name">Iuliia Konovalova</div>
            </a>
          </li>

          <li class="contact__github">
            <a href="https://github.com/kera-cudmore" target="_blank" rel="noopener"
              aria-label="Visit Kera Cudmore github page">
              <div class="coder__name">Kera Cudmore</div>
            </a>
          </li>

          <li class="contact__github">
            <a href="https://github.com/theopmw" target="_blank" rel="noopener"
              aria-label="Visit Theo Wright github page">
              <div class="coder__name">Theo Wright</div>
            </a>
          </li>

          <li class="contact__github">
            <a href="https://github.com/ANNAhabANNA" target="_blank" rel="noopener" aria-label="Visit Anna github page">
              <div class="coder__name">Anna</div>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__social">
        <ul class="footer__links--social">
          <li class="footer__link--social">
            <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page"
              style="margin-right: 0.9px; margin-top: 1.5px;">
              <i class="fab fa-instagram"></i>
            </a>
          </li>

          <li class="footer__link--social">
            <a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter page"
              style="margin-right: 1.5px; margin-top: 0.5px;">
              <i class="fab fa-twitter"></i>
            </a>
          </li>

          <li class="footer__link--social">
            <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page"
              style="margin-right: 0.9px;">
              <i class=" fab fa-facebook-f"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__extra">
        <p class="footer__suggestions">
          If you have relevant resources to be suggested to our users, you may contact our development team.
        </p>
        <a href="https://github.com/AwsSG/empowered" target="_blank" rel="noopener"
          aria-label="Visit project repository" class="repo_link">
          <div class="project__repository">Link to GitHub repository<i class="fas fa-external-link-alt"></i></div>
        </a>
      </div>
    </div>
  </footer>

  <!--Jquery script-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
</body>

</html>