{% extends "base.html" %}
{% block content %}

<section class="calendar">
  <!-- Calendar Header -->
  <h2 class="calendar__heading">Here is your records</h2>
  <!-- Emojis scale -->
  <ul class="calendar__scale">
    <li class="calendar__scale--emoji">
      <img src="{{ url_for('static', filename='images/emojis/angry.png') }}" alt="angry emoji">
    </li>

    <li class="calendar__scale--emoji">
      <img src="{{ url_for('static', filename='images/emojis/depressed.png') }}" alt="depressed emoji">
    </li>

    <li class="calendar__scale--emoji">
      <img src="{{ url_for('static', filename='images/emojis/stressed.png') }}" alt="stressed emoji">
    </li>

    <li class="calendar__scale--emoji">
      <img src="{{ url_for('static', filename='images/emojis/content.png') }}" alt="content emoji">
    </li>
    <li class="calendar__scale--emoji">
      <img src="{{ url_for('static', filename='images/emojis/happy.png') }}" alt="happy emoji">
    </li>
  </ul>
  <!-- Calendar navigation buttons -->
  <!-- <div id="previousSelector-a" class="calendar__btns--container">
    <button id="previousSelector-a-previous" class="btn btn__calendar">Back </button> &nbsp
    <button id="previousSelector-a-next" class="btn btn__calendar"> Next </button>
  </div> -->
  <!-- Click day container -->
  <!-- <div style="padding:10px; margin: 2em;">
    <span id="onClick-placeholder">Click a date on the calendar</span>
  </div>
  <div style="padding:10px; margin: 2em;"> -->
  <!-- Call-heatmap -->
  <!-- <div id="cal-heatmap"> -->

  <!-- </div>-->

  <!-- </div> -->

</section>
<div class="cal__container">
  <div class="calendar__itself">
    <div class="month">
      <i class="fas fa-angle-left" id="prev-month"></i>
      <div class="date">
        <h2 class="date-month"></h2>
        <p class="date-day"></p>
        <p id="date-to-check"></p>
      </div>
      <i class="fas fa-angle-right" id="next-month"></i>
    </div>
    <div class="weekdays">
      <div>Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
    </div>
    <div class="date-days"></div>
  </div>
</div>

{% endblock %}
{% block extra_js %}

<script>

  let data222 = {};
  let date0;
  let dataArray = []
  let emoji_number;
  let tempDate;


  {% for emoji in emoji_tracker %}
  tempDate = new Date({{ emoji.datetime }} * 1000)
  console.log(tempDate)
  dataArray.push({
    dateNote: tempDate.toLocaleDateString("en-US"),
    emoji: {{ emoji.emoji }},
    note: "{{ emoji.note }}"
  })
  {% endfor %}

  console.log(dataArray)

</script>
{% endblock %}