{% extends "base.html" %}
{% block content %}

<section class="hero__container">
  <div class="hero__content">
    <h2 class="hero__content--title">What is Empower?</h2>
    <p class="hero__content--paragraph">
      Empower is a site that allows you to log your emotional state every day. You
      can also choose to add a journal entry
      which allows you to expand on why you have chosen your selected emoji.
    </p>
    <div class="buttons__container">
      <div class="btn__register btn">
        <a href="{{ url_for('register') }}">Get started</a>
      </div>

    </div>
  </div>
  <div class="hero__image">
    <!-- <img src="{{ url_for('static', filename='images/hero2.png') }}"> -->
  </div>

</section>
<section class="about__container">
  <h3 class="about__title">About Us</h3>

  <div class="reason">
    <div class="reason__image"></div>
    <div class="reason__content">

      <h4 class="reason__section--title">Why should I use Empower?</h4>
      <p class="reason__section--paragraph">
        Our emotional health is a very important part of our overall health. By
        becoming more aware of our
        emotions can help us talk about our feelings, avoid or resolve conflicts in our lives better and help us to
        move past difficult feelings.
      </p>
    </div>
  </div>
  <div class="usage">

    <div class="usage__content">

      <h4 class="usage__section--title">How to use Impower?</h4>
      <p class="usage__section--paragraph">
        Empower allows you to take a moment out of each day to check in and log your emotions. You can then track your
        emotional health over time using the calendar function in your profile. The calendar may provide your emotional
        health history if you seek help from professionals.
      </p>
    </div>
    <div class="usage__image"></div>
  </div>
  <div class="privacy">
    <div class="privacy__image"></div>

    <div class="privacy__content">

      <h4 class="privacy__section--title">Can anyone else see my information?</h4>
      <p class="privacy__section--paragraph">
        No. Your privacy is essential to all of us. You will need to register with the Empower site to log your
        emotional
        health and add notes. The password to your account will never be revealed to anybody, even to us. This process
        allows you to keep all your information confidential.
      </p>
    </div>
</section>

{% endblock %}