{% extends "base.html" %}
{% block content %}

<section class="home__container">


  <div class="hero__container">
    <div class="hero__content">
      <h2 class="hero__content--title">Some Title</h2>
      <p class="hero__content--paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, earum repellat
        eum, quasi dicta cumque ducimus
        beatae quam necessitatibus ut mollitia, ratione consectetur minus adipisci voluptas commodi aut natus labore.
      </p>
    </div>
  </div>

  <h3 class="about__title">About Us</h3>

  <h4 class="about__section--title">What is Empower?</h4>
  <p class="about__section--paragraph">Empower is a site that allows you to log your emotional state every day. You
    can also choose to add a journal entry
    which allows you to expand on why you have chosen your selected emoji.</p>

  <h4 class="about__section--title">Why should I use Empower?</h4>
  <p class="about__section--paragraph">Our emotional health is a very important part of our overall health. By
    becoming more aware of our
    emotions can help us talk about our feelings, avoid or resolve conflicts in our lives better and help us to
    move past difficult feelings. Empower allows you to take a moment out of each day to check in and log your
    emotions.
    You are then able to track your emotional health over a period of time using the calendar function in your
    profile.
    The calendar feature can also be used to provide evidence of your emotional health should you need to seek help
    from
    professionals.</p>

  <h4 class="about__section--title">Can anyone else see my information?</h4>
  <p class="about__section--paragraph">No. Your privacy is very important to us. In order to log your emotional health
    you will need to register with the
    Empower site. This allows you to keep all your information confidential.</p>
</section>
{% endblock %}