{% extends "base.html" %}
{% block content %}

<section class="blog">
  <!-- Profile heading -->
  <div class="blog__heading">
    <h2 class="blog__heading--title">How do you feel today?</h2>
    <div class="blog__heading--day">Today is <span>{{ today }}</span></div>
  </div>
</section>

{% if last_entry != today %}
<h3 class="blog__heading--incentive">How do you feel today?</h3>
<div class="scale">
  <!-- Profile form -->
  <form method="POST" action="{{ url_for('profile') }}" class="profile__form">
    <div class="btn__info--container">
      <div class="btn__info--icon" id="btn-info">
        <i class="fas fa-info-circle icon"></i>
      </div>
    </div>
    <div class="scale__emojis" id="emoji">
      <label for="angry">
        <input type="radio" name="rating" class="angry" id="angry" value="1">
        <img src="{{ url_for('static', filename='images/emojis/angry.png') }}" alt="angry emoji" class="emoji__image">
      </label>
      <label for="depressed">
        <input type="radio" name="rating" class="depressed" id="depressed" value="2">
        <img src="{{ url_for('static', filename='images/emojis/depressed.png') }}" alt="depressed emoji"
          class="emoji__image">
      </label>
      <label for="stressed">
        <input type="radio" name="rating" class="stressed" id="stressed" value="3">
        <img src="{{ url_for('static', filename='images/emojis/stressed.png') }}" alt="stressed emoji"
          class="emoji__image">
      </label>
      <label for="content">
        <input type="radio" name="rating" class="content" id="content" value="4">
        <img src="{{ url_for('static', filename='images/emojis/content.png') }}" alt="content emoji"
          class="emoji__image">
      </label>
      <label for="happy">
        <input type="radio" name="rating" class="happy" id="happy" value="5">
        <img src="{{ url_for('static', filename='images/emojis/happy.png') }}" alt="happy emoji" class="emoji__image">
      </label>
    </div>
    <br>
    <!-- Blog notes Section -->
    <div class="blog__container" id="blog-container">
      <h4 class="blog__container--title">Leave some notes to express your feelings!</h4>
      <div class="blog__form">


        <p class="blog__input">
          <label for="content" class="blog__label"></label>
          <textarea id="note" name="note" class="blog__textarea" aria-label="Entry content"></textarea>
        </p>
        <!-- Submit form button -->
        <div class="blog__submit">
          <button type="submit" class="btn blog__btn--submit">Add Note</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- suggestion box -->
{% else %}
<section class="suggestions__container">
  <h4 class="data__link--title">Here are some suggestions based on how you feel today</h4>
  <div class="suggestions__details">
    <div class="suggestion__image"></div>
    <ul class="suggestions">
      {% for suggestion in suggestions %}
      <li class="suggestion">
        <a href="{{ suggestion.link }}" target="_blank" rel="noopener" aria-label="Link to a suggestion website">{{
          suggestion.title }}</a>
      </li>
      <br>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
<!-- Calendar link -->
<section class="data__link">
  <h4 class="data__link--title">Review how your emotional history</h4>
  <div class="calendar__image"></div>
  <div class="data__link--check">
    <a href="{{ url_for('calendar') }}" class="btn btn__calendar--link">View emotional history</a>
  </div>
</section>


<!--Modal window for instructions-->

<aside class="modal modal--hidden" id="info">
  <button class="close-modal" id="close-modal">&times;</button>
  <div class="modal__info">
    <ul>
      <li class="modal__info--item">
        <img src="{{ url_for('static', filename='images/emojis/angry.png') }}" alt="angry emoji" class="info__image">
        <div class="info__content">angry</div>
      </li>
      <li class="modal__info--item">
        <img src="{{ url_for('static', filename='images/emojis/depressed.png') }}" alt="depressed emoji"
          class="info__image">
        <div class="info__content">depressed</div>
      </li>
      <li class="modal__info--item">
        <img src="{{ url_for('static', filename='images/emojis/stressed.png') }}" alt="stressed emoji"
          class="info__image">
        <div class="info__content">stressed</div>
      </li>
      <li class="modal__info--item">
        <img src="{{ url_for('static', filename='images/emojis/content.png') }}" alt="content emoji"
          class="info__image">
        <div class="info__content">content</div>
      </li>
      <li class="modal__info--item">
        <img src="{{ url_for('static', filename='images/emojis/happy.png') }}" alt="happy emoji" class="info__image">
        <div class="info__content">happy</div>
      </li>
    </ul>
  </div>
</aside>
<div class="overlay overlay--hidden" id="overlay"></div>
{% endblock %}