{% extends "base.html" %}
{% block content %}

<section class="blog">
  <div class="blog__heading">
    <div class="blog__heading--day">Today is <span>{{ today }}</span></div>
    {% if last_entry != today %}
    <h3 class="blog__heading--incentive">How do you feel today?</h3>
  </div>
</section>
<section class="scale">

  <form method="POST" action="{{ url_for('profile') }}" class="profile__form">


    <select id="emoji" name="emoji" required>
      <option value="" disabled selected>Choose emoji</option>
      <option value="1">Angry</option>
      <option value="2">Depressed</option>
      <option value="3">Stressed</option>
      <option value="4">Content</option>
      <option value="5">Happy</option>
    </select>
    <br>

    <div class="blog__container" id="blog-container">
      <h4 class="blog__container--title">Leave some notes to express why you feel so!</h4>
      <div class="blog__form">
        <p class="blog__input">
          <label for="content" class="blog__label">Add your thought here:</label>
          <textarea id="note" name="note" class="blog__textarea" aria-label="Entry content"></textarea>
        </p>


        <div class="blog__submit">
          <button type="submit" class="btn blog__btn--submit">Add Note</button>
        </div>
      </div>
    </div>
  </form>
  {% else %}
  <h4 class="data__link--title">Here are some suggestions based on how you feel today</h4>
  <ul>
    {% for suggestion in suggestions %}
    <li><a href="{{ suggestion.link }}" target="_blank" rel="noopener" aria-label="Link to a suggestion website">{{
        suggestion.title }}</a></li><br>
    {% endfor %}
  </ul>
  {% endif %}


  <section class="data__link">
    <h4 class="data__link--title">Review how your emotional history</h4>
    <div class="data__link--check">
      <a href="{{ url_for('calendar') }}" class="btn btn__calendar--link">View emotional history</a>
    </div>
  </section>
  {% endblock %}