{% extends "base.html" %}
{% block content %}

<section class="blog">
  <!-- Profile heading -->
  <div class="blog__heading">
    <div class="blog__heading--day">Today is <span>{{ today }}</span></div>
    {% if last_entry != today %}
    <h3 class="blog__heading--incentive">How do you feel today?</h3>
  </div>
</section>


<section class="scale">
  <!-- Profile form -->
  <form method="POST" action="{{ url_for('profile') }}" class="profile__form">
    <div class="scale__emojis">
      <label for="angry">
        <input type="radio" name="rating" class="angry" id="angry" value="1" />
        <img src="{{ url_for('static', filename='images/emojis/angry.png') }}" alt="angry emoji" class="emoji__image">
      </label>
      <label for="depressed">
        <input type="radio" name="rating" class="depressed" id="depressed" value="2" />
        <img src="{{ url_for('static', filename='images/emojis/depressed.png') }}" alt="depressed emoji"
          class="emoji__image">
      </label>
      <label for="stressed">
        <input type="radio" name="rating" class="stressed" id="stressed" value="3" />
        <img src="{{ url_for('static', filename='images/emojis/stressed.png') }}" alt="stressed emoji"
          class="emoji__image">
      </label>
      <label for="content">
        <input type="radio" name="rating" class="content" id="content" value="4" />
        <img src="{{ url_for('static', filename='images/emojis/content.png') }}" alt="content emoji"
          class="emoji__image">
      </label>
      <label for="happy">
        <input type="radio" name="rating" class="happy" id="happy" value="5" />
        <img src="{{ url_for('static', filename='images/emojis/happy.png') }}" alt="happy emoji" class="emoji__image">
      </label>
    </div>
    <!-- Emoji selection -->
    <select id="emoji" name="emoji" required>
      <option value="" disabled selected>Choose emoji</option>
      <option value="1">Angry</option>
      <option value="2">Depressed</option>
      <option value="3">Stressed</option>
      <option value="4">Content</option>
      <option value="5">Happy</option>
    </select>
    <br>
    <!-- Blog notes Section -->
    <div class="blog__container" id="blog-container">
      <h4 class="blog__container--title">Leave some notes to express why you feel so!</h4>
      <div class="blog__form">


        <p class="blog__input">
          <label for="content" class="blog__label">Add your thought here:</label>
          <textarea id="note" name="note" class="blog__textarea" aria-label="Entry content"></textarea>
        </p>
        <!-- Submit form button -->
        <div class="blog__submit">
          <button type="submit" class="btn blog__btn--submit">Add Note</button>
        </div>
      </div>
    </div>
  </form>
  <!-- suggestion box -->
  {% else %}
  <h4 class="data__link--title">Here are some suggestions based on how you feel today</h4>
  <ul class="suggestions">
    {% for suggestion in suggestions %}
    <li class="suggestion">
      <a href="{{ suggestion.link }}" target="_blank" rel="noopener" aria-label="Link to a suggestion website">{{
        suggestion.title }}</a>
    </li>
    <br>
    {% endfor %}
  </ul>
  {% endif %}
  <!-- Calendar link -->
  <section class="data__link">
    <h4 class="data__link--title">Review how your emotional history</h4>
    <div class="data__link--check">
      <a href="{{ url_for('calendar') }}" class="btn btn__calendar--link">View emotional history</a>
    </div>
  </section>
  {% endblock %}